@import "tailwindcss";

:root {
  color-scheme: light dark;
}

html.dark {
  color-scheme: dark;
}

/* Tailwind dark mode utilities */
@media (prefers-color-scheme: dark) {
  html:not(.light) {
    color-scheme: dark;
  }
}
